.card {
  background: #fff;
  padding: 1rem;
}
.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}
.category-js {
  background-color: #009cff;
}
.category-react {
  background-color: #f99500;
}
.category-spa {
  background-color: #a66bbe;
}
.category-backend {
  background-color: #1ed80f;
}
.category-api {
  background-color: #c70039;
}
.category-mpa {
  background-color: #d80fcc;
}
