* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header-home {
  background: url("./images/lake-crescent.jpg") no-repeat center right/cover;
  height: 100vh;
  color: #fff;
}
#header-home .header-content {
  text-align: center;
  padding-top: 20%;
}
#header-home .header-content h1 {
  font-size: 4rem;
  line-height: 1.2;
}
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.pimg1 {
  background-image: url("./images/javascript.jpg");
}
.pimg2 {
  background-image: url("./images/travel.jpg");
}
.pimg3 {
  background-image: url("./images/cat.jpg");
}
.pimg1,
.pimg2,
.pimg3 {
  min-height: 400px;
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
